## Resultado esperado:

<table class="table table-striped table-bordered">
<thead>
<tr>
<th style="text-align:center">Cod Material</th>
<th style="text-align:center">Qtd. pedida</th>
<th style="text-align:center">Qtd. vendida</th>
<th style="text-align:center">Porcentagem</th>
<th style="text-align:center">Status</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">c√≥digo do material</td>
<td style="text-align:center">quantidade pedida </td>
<td style="text-align:center">quantidade vendida</td>
<td style="text-align:center">(quantidade pedida)/(quantidade vendida)</td>
<td style="text-align:center">se % >= 1.2: gerar ALERTA!</td>
</tr>
</tbody>
</table>

## Imports das Bibliotecas

In [0]:
import pandas as pd

In [55]:
?read_excel()

Object `read_excel` not found.

## Leitura dos arquivos de entrada

### Leitura xls e slxs: pd.read_excel(nome_arquivo, sep = separador do arquivo, skiprows = quant de linhas a serem puladas, encoding = codificacao_do_arquivo)

In [0]:
df_vendas1 = pd.read_excel("https://github.com/julia-freitas/desafio-bemol-DS/blob/master/Aula_03/resources/vendas_1.xlsx?raw=true")

In [57]:
df_vendas1.head()

         Data  Material  Qtd.faturd
0  25-04-2020   6000110           1
1  25-04-2020   6000129           1
2  25-04-2020   6000163           1
3  25-04-2020   6000172           1
4  25-04-2020   6000892           1

In [0]:
df_vendas2 = pd.read_excel("https://github.com/julia-freitas/desafio-bemol-DS/blob/master/Aula_03/resources/vendas_2.xlsx?raw=true")

In [59]:
df_vendas2.head()

         Data  Material  Qtd.faturd
0  28-04-2020   6001085           1
1  28-04-2020   4000020           1
2  28-04-2020   4000020           1
3  28-04-2020   4000020           1
4  28-04-2020   4000045           1

In [0]:
df_materiais = pd.read_csv('https://raw.githubusercontent.com/julia-freitas/desafio-bemol-DS/master/Aula_03/resources/materiais.csv', sep = ';', skiprows=0, encoding='utf-8')

In [61]:
df_materiais

      Material     Texto breve material
0      4000010         ALCACHOFRA 300MG
1      4000013  ANTI-SEPTICO ANESTESICO
2      4000014           ASSEPTCARE SOL
3      4000015           ASSEPTCARE SOL
4      4000016        BENATUX FRAMBOESA
...        ...                      ...
4577   6001409             SABONETE LIQ
4578   6001410             SABONETE LIQ
4579   6001411             T√îNICO NIVEA
4580   6001412             T√îNICO NIVEA
4581   6001415         CHOCOLATE KINDER

[4582 rows x 2 columns]

In [0]:
df_pedidos = pd.read_csv("https://raw.githubusercontent.com/julia-freitas/desafio-bemol-DS/master/Aula_03/resources/pedidos.txt", sep='|', skiprows=2, encoding='latin-1' )

In [63]:
df_pedidos

      Cod. fornecedor   Material  Qtd.pedido      Texto breve  Qtd.estoque
0                3593  4003232.0         120   FLUCANIL 150MG           12
1                3593  4005091.0          60  BETRICORT CREME            6
2                3593  4003225.0          51   COLIRIO GEOLAB            5
3                3593  4003251.0          60    MIZONOL CREME            6
4                3593  4001716.0          20  GINO-COLON TUBO            2
...               ...        ...         ...              ...          ...
1064             4239  4000333.0           1     CRESTOR 10MG            0
1065             4239  4003698.0           1  PANTOGAR C/90CP            0
1066             4239  4000359.0           1     XARELTO 15MG            0
1067             4239  4005114.0           1        ARADOIS H            0
1068             4239  4003731.0           1     DIOVAN 160MG            0

[1069 rows x 5 columns]

## Tratamento de Dados

### Renomeando Colunas

Resultado Esperado:

<table class="table table-striped table-bordered">
<thead>
<tr>
<th style="text-align:center">Cod. Material</th>
<th style="text-align:center">Qtd. pedida</th>
<th style="text-align:center">Qtd. vendida</th>
<th style="text-align:center">Porcentagem</th>
<th style="text-align:center">Status</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">c√≥digo do material</td>
<td style="text-align:center">quantidade pedida </td>
<td style="text-align:center">quantidade vendida</td>
<td style="text-align:center">(quantidade pedida)/(quantidade vendida)</td>
<td style="text-align:center">se % >= 1.2: gerar ALERTA!</td>
</tr>
</tbody>
</table>

In [0]:
df_vendas1.rename(columns={'Qtd.faturd':'Qtd. vendida', 'Material': 'Cod. Material'}, inplace='True')
df_vendas2.rename(columns={'Qtd.faturd':'Qtd. vendida', 'Material': 'Cod. Material'}, inplace='True')

df_materiais.rename(columns={'Material': 'Cod. Material', 'Texto breve material':'Texto breve'}, inplace='True')
df_pedidos.rename(columns={'Material': 'Cod. Material', 'Qtd.pedido':'Qtd. pedida'}, inplace='True')

In [71]:
print(df_vendas1.columns)
print(df_vendas2.columns)

print(df_materiais.columns)
print(df_pedidos.columns)

Index(['Data', 'Cod Material', 'Qtd. vendida'], dtype='object')
Index(['Data', 'Cod Material', 'Qtd. vendida'], dtype='object')
Index(['Cod Material', 'Texto breve'], dtype='object')
Index(['Cod. fornecedor', 'Cod Material', 'Qtd. pedida', 'Texto breve',
       'Qtd.estoque'],
      dtype='object')
Index(['Data', 'Cod Material', 'Qtd. vendida'], dtype='object')
Index(['Data', 'Cod Material', 'Qtd. vendida'], dtype='object')
Index(['Cod Material', 'Texto breve'], dtype='object')
Index(['Cod. fornecedor', 'Cod Material', 'Qtd. pedida', 'Texto breve',
       'Qtd.estoque'],
      dtype='object')

### Deletar Colunas (?)

Ao final ser√° preciso gerar um novo arquivo com as nossas informa√ß√µes padronizadas e eliminar colunas desnecess√°rias para a an√°lise

### Alterar os tipos categ√≥ricos para num√©ricos

### Agrupamento de Dados

Precisamos agrupar por 'Data' e depois por 'Material', salvar a quantidade de ocorrencias de cada material numa nova coluna 'Quantidade'

In [43]:
vendas1.groupby('Material').resample('1D')

TypeError: ignored

### Correla√ß√£o de Tabelas

In [0]:
#### De vendas1 e vendas2

In [34]:
print(vendas1.columns)
print(vendas1.shape)

Index(['Data', 'Material', 'Qtd.faturd'], dtype='object')
(8657, 3)

In [33]:
print(vendas2.columns)
print(vendas2.shape)

Index(['Data', 'Material', 'Qtd.faturd'], dtype='object')
(8144, 3)

Ao verificar que os dois datasets tem a mesma quantidade de colunas, e que por sua vez apresentam os mesmos nomes de colunas, √© poss√≠vel fazer a concatena√ß√£o dos datasets

In [39]:
vendas = pd.concat([vendas1, vendas2])
display(vendas)

            Data  Material  Qtd.faturd
0     25-04-2020   6000110           1
1     25-04-2020   6000129           1
2     25-04-2020   6000163           1
3     25-04-2020   6000172           1
4     25-04-2020   6000892           1
...          ...       ...         ...
8139  30-04-2020   6000768           1
8140  30-04-2020   6000839           1
8141  30-04-2020   6000843           1
8142  30-04-2020   6000969           1
8143  30-04-2020   6000400           1

[16801 rows x 3 columns]

## Exportando arquivo com a concatena√ß√£o das tabelas

## An√°lise dos Dados